@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700&display=swap');
:root {
  --font-manrope: 'Manrope', sans-serif;
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-manrope);
}

/* Override autofill styles */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 999999s ease-in-out 0s, color 999999s ease-in-out 0s;
  -webkit-text-fill-color: #eecc6e !important;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
  background-color: transparent !important;
}

/* Firefox specific override */
input:autofill {
  background: transparent !important;
  background-color: transparent !important;
  color: #eecc6e !important;
}

/* Edge specific override */
input:-internal-autofill-selected {
  background: transparent !important;
  background-color: transparent !important;
  color: #eecc6e !important;
}
